<ion-header>
  <ion-toolbar>
    <ion-title>chapter3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- //Random image as placeholder// -->
  <img src="http://lorempixel.com/400/200" />
  <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
  <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Go Back to TOC</ion-button>
  <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter2']">Go Back to Chapter 2</ion-button>
</ion-content>