<ion-header>
  <ion-toolbar>
    <ion-title>chapter1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- //Random image as placeholder// -->
  <img src="http://lorempixel.com/400/200" />
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
  <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Go Back to TOC</ion-button>
  <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter2']">Go to Chapter 2</ion-button>
</ion-content>