<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Book Title
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <!-- //Random image as placeholder// -->
      <img src="http://lorempixel.com/400/200" />
      <ion-card-header>
        <ion-card-title>Preface</ion-card-title>
        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
      </ion-card-header>
      <ion-card-content>
        <p></p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
